@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body {
    @apply antialiased;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  }

  :root {
    --primary: rgb(55 65 81);
    --secondary: #1f2937;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-r from-purple-500 to-pink-500 rounded-sm
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar  {
    width: 5px;
    border-radius: 2px;
  }
}

.overflow-y-overlay {
  overflow-y: overlay;
}

@layer components {

  .button {
    @apply relative px-6 py-2 font-bold w-full text-white rounded-lg uppercase buttonText text-xl
  }

  .tab {
    @apply before:tab-curve after:tab-curve before:left after:right absolute inset-0 w-full h-full rounded-t-xl flex justify-center 
  }

  .top-tab {
    @apply animated -translate-x-1 -translate-y-1 group-hover:-translate-x-2.5 group-hover:-translate-y-2.5 group-focus:translate-x-0 group-focus:translate-y-0
  }

  .setting-tab {
    @apply animated group-hover:-translate-x-0.5 group-hover:-translate-y-0.5 group-focus:translate-x-0 group-focus:translate-y-0
  }

  .animated {
    @apply transition-transform duration-300 transform ease-in-out
  }

  .bottom-tab {
    @apply animated translate-x-1 translate-y-1 group-hover:translate-x-2.5 group-hover:translate-y-2.5 group-focus:translate-x-0 group-focus:translate-y-0
  }

  /* Make sure left = toptab offset and width+offset add up to the total length on container */
  .bottom-fill {
    @apply absolute w-[24rem] h-[17.5rem] top-[99%] -left-[1.25rem] bg-inherit rounded-lg backdrop-blur-md
  }

  .tab-curve {
    @apply w-4 h-4 absolute bottom-[0px] z-10 
  }

  .left {
    @apply -left-4 rounded-br-lg
  }

  .right{
    @apply left-0 ml-[100%] rounded-bl-lg
  }
}

@layer utilities {
  .left {
    bottom: 0px;
    box-shadow: 7px 3px 0px -3px var(--tw-shadow-color);
  }

  .right {
    box-shadow: -6px 2px 0px -2px var(--tw-shadow-color);
  }

  .buttonText {
    font-family: "Open Sans", Monaco, monospace;
  }

}

body {
  overflow: hidden;
}

#crx-root {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
}